<template>
    <div>
        <EAddEdit :title="isEditPage() ? 'Редактирование бренда' : 'Создание бренда'" />
        <v-card flat>
            <v-tabs v-if="isEditPage()"
                    v-model="currentTab">
                <v-tab v-for="(tab, i) of tabs"
                       :key="i" :href="`#${tab.link}`">{{tab.title}}
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="currentTab">
                <v-tab-item value="home">
                    <v-card flat>
                        <v-form ref="form"
                                v-model="valid"
                                lazy-validation>
                            <v-container class="pb-0">
                                <v-row>
                                    <v-col cols="12" md="8">
                                        <v-text-field
                                                v-model="brand.name"
                                                :rules="validate.name"
                                                :counter="200"
                                                label="Название бренда"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="pb-0 pt-0" cols="12" md="4">
                                        <v-checkbox color="blue darken-3"
                                                    class="mt-0"
                                                    v-model="brand.is_active"
                                                    label="Показывать"
                                        ></v-checkbox>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <v-btn :disabled="!valid"
                                   color="info"
                                   class="ml-2 mb-2"
                                   @click="submit">Отправить
                            </v-btn>
                        </v-form>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-card>
    </div>
</template>

<script>
  import EAddEdit from "../../../components/common/EAddEdit";
  import {mapGetters, mapActions} from "vuex";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";
  import NotifyMixin from "../../../components/mixins/NotifyMixin";

  export default {
    name: "Brand",
    components: {
      EAddEdit
    },
    mixins: [AddEditMixin, NotifyMixin],
    data() {
      return {
        valid: false,
        tabs: [
          { link: 'home', title: 'Бренды' },
        ],
        brand: {
          id: null,
          name: '',
          is_active: false,
        },
        validate: {
          name: [
            v => !!v || 'Поле обязательно',
            v => v.length <= 200 || 'Не более 200 символов',
          ],
        }
      }
    },
    mounted() {
      const brand = this.getBrandById(this.id);
      if (brand) {
        this.brand = Object.assign(this.brand, brand);
      }
    },
    computed: {
      ...mapGetters(['getBrandById']),
    },
    methods: {
      ...mapActions(['postBrand', 'putBrand']),
      submit() {
        if (this.$refs.form.validate()) {
          if (!this.id) {                           // Создать
            this.postBrand(this.brand).then(() => {
              console.log(1, this.brand);
              this.successCreate('Бренд');
              this.$router.push({ name: 'eTable', params: { name: 'brands' } });
            }, () => { this.errorSave() });
          } else {                                  // Обновить
            this.putBrand(this.brand).then(() => {
              this.successSave('Бренд');
            }, () => { this.errorSave() });
          }
        }
      }
    },
    watch: {
      $route () {
        this.getId();
      },
      currentTab () {

      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
