<template>
    <div>
        <component :is="component" />
    </div>
</template>

<script>
  import Group from "./Group";
  import User from "./User";
  import ProductCategory from "./ProductCategory";
  import NavMenuCategory from "./NavMenuCategory";
  import Product from "./Product";
  import NavMenu from "./NavMenu";
  import Brand from "./Brand";

  export default {
    name: "DynamicEAddEdit",
    components: {
      Group,
      User,
      ProductCategory,
      NavMenuCategory,
      Product,
      NavMenu,
      Brand,
    },
    data () {
      return {
        page: {
          groups: "Group",
          users: "User",
          productcategories: "ProductCategory",
          products: "Product",
          navmenus: "NavMenu",
          navmenucategories: "NavMenuCategory",
          brands: "Brand",
        },
        component: '',
      }
    },
    mounted() {
      this.getComponent();
    },
    methods: {
      getComponent() {
        const name = this.$route.params['name'];
        this.component = this.page[name] ? this.page[name] : "Group";
      },
    },
    watch: {
      $route () {
        this.getComponent();
      }
    },
  }
</script>

<style scoped>

</style>
