<template>
    <div>
        <EAddEdit :title="isEditPage() ? 'Редактирование нав. меню' : 'Создание нав. меню'" />
        <v-card flat>
            <v-tabs v-if="isEditPage()"
                    v-model="currentTab">
                <v-tab v-for="(tab, i) of tabs"
                       :key="i" :href="`#${tab.link}`">{{tab.title}}
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="currentTab">
                <v-tab-item value="home">
                    <v-card flat>
                        <v-form ref="form"
                                v-model="valid"
                                lazy-validation>
                            <v-container class="pb-0">
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-text-field
                                                v-model="navMenu.name"
                                                :rules="validate.name"
                                                :counter="20"
                                                label="Название раздела меню"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <v-text-field
                                                v-model="navMenu.level_order"
                                                :rules="validate.level_order"
                                                type="number"
                                                min="1"
                                                label="Порядок"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                <v-col class="pb-0 pt-0" cols="12" md="4">
                                    <v-checkbox color="blue darken-3"
                                                class="mt-0"
                                                v-model="navMenu.is_active"
                                                label="Показывать"
                                    ></v-checkbox>
                                </v-col>
                            </v-row>
                            </v-container>
                            <v-btn :disabled="!valid"
                                   color="info"
                                   class="ml-2 mb-2"
                                   @click="submit">Отправить
                            </v-btn>
                        </v-form>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-card>
    </div>
</template>

<script>
  import EAddEdit from "../../../components/common/EAddEdit";
  import {mapGetters, mapActions} from "vuex";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";
  import NotifyMixin from "../../../components/mixins/NotifyMixin";

  export default {
    name: "NavMenu",
    components: {
      EAddEdit
    },
    mixins: [AddEditMixin, NotifyMixin],
    data() {
      return {
        valid: false,
        tabs: [
          { link: 'home', title: 'Меню' },
        ],
        navMenu: {
          id: null,
          name: '',
          level_order: '',
          is_active: false,
        },
        validate: {
          name: [
            v => !!v || 'Поле обязательно',
            v => v.length <= 20 || 'Не более 20 символов',
          ],
          level_order: [
            v => !!v || 'Поле обязательно',
          ],
        }
      }
    },
    mounted() {
      const navMenu = this.getNavMenuById(this.id);
      if (navMenu) {
        this.navMenu = Object.assign(this.navMenu, navMenu);
      }
    },
    computed: {
      ...mapGetters(['getNavMenuById']),
    },
    methods: {
      ...mapActions(['postNavMenu', 'putNavMenu']),
      submit() {
        if (this.$refs.form.validate()) {
          if (!this.id) {                           // Создать
            this.postNavMenu(this.navMenu).then(() => {
              this.successCreate('Меню навигации');
              this.$router.push({ name: 'eTable', params: { name: 'navmenus' } });
            }, () => { this.errorSave() });
          } else {                                  // Обновить
            this.putNavMenu(this.navMenu).then(() => {
              this.successSave('Меню навигации');
            }, () => { this.errorSave() });
          }
        }
      }
    },
    watch: {
      $route () {
        this.getId();
      },
      currentTab () {

      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
