<template>
    <div class="v-scroll-vert">
        <EAddEdit :title="isEditPage() ? 'Редактирование товара' : 'Создание товара'" />
        <v-card flat>
            <v-tabs v-if="isEditPage()"
                    v-model="currentTab">
                <v-tab v-for="(tab, i) of tabs"
                       :key="i" :href="`#${tab.link}`">{{tab.title}}
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="currentTab">
                <v-tab-item value="home">
                    <v-card flat>
                        <v-form ref="form"
                                v-model="valid"
                                enctype="multipart/form-data"
                                lazy-validation>
                            <v-container class="pb-0 pt-0">
                                <v-row>
                                    <v-col cols="12" md="12">
                                        <v-text-field
                                                v-model="product.name"
                                                :rules="validate.name"
                                                :counter="200"
                                                label="Название товара"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" md="4">
                                        <v-text-field
                                                v-model="product.product_code"
                                                :rules="validate.product_code"
                                                :counter="50"
                                                label="Артикул" required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="4">
                                        <v-select
                                                v-model="product.brand"
                                                :items="getBrands"
                                                item-text="name"
                                                item-value="id"
                                                label="Бренд"
                                                solo required
                                                :rules="validate.brand"
                                        ></v-select>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="d-flex" cols="12" sm="12">
                                        <v-select v-model="product.product_category"
                                                  :items="getProductCategories"
                                                  label="Категории продукта"
                                                  multiple chips
                                                  hint="Можно выбрать несколько категорий"
                                                  persistent-hint
                                                  item-text="name"
                                                  item-value="id"
                                                  required
                                                  :rules="validate.product_category"
                                        ></v-select>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" md="4">
                                        <v-text-field
                                                v-model="product.wholesale_price"
                                                :rules="validate.wholesale_price"
                                                :counter="20"
                                                label="Оптовая цена"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="4">
                                        <v-text-field
                                                v-model="product.retail_price"
                                                :rules="validate.retail_price"
                                                :counter="10"
                                                label="Розничная цена"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="pb-0 pt-0" cols="12" md="12">
                                        <v-textarea v-model="product.short_description"
                                                    label="Короткое описание"
                                                    filled required
                                                    :rules="validate.short_description"
                                                    :counter="200"
                                        ></v-textarea>
                                    </v-col>
                                    <v-col class="pb-0 pt-0" cols="12" md="12">
                                        <v-textarea v-model="product.full_description"
                                                    label="Полное описание"
                                                    filled required
                                                    :rules="validate.full_description"
                                                    :counter="10000"
                                        ></v-textarea>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="pb-0 pt-0" cols="12" md="4">
                                        <v-checkbox color="blue darken-3"
                                                    v-model="product.availability"
                                                    label="Наличие"
                                        ></v-checkbox>
                                    </v-col>
                                    <v-col class="pb-0 pt-0" cols="12" md="4">
                                        <v-checkbox color="blue darken-3"
                                                    v-model="product.is_active"
                                                    label="Показывать"
                                        ></v-checkbox>
                                    </v-col>
                                </v-row>
                                <v-row v-if="product.id">
                                    <v-col class="pb-0 pt-0" cols="12" md="8">
                                        <v-file-input
                                                label="Фото товара"
                                                filled
                                                prepend-icon="mdi-camera"
                                                :hide-details="true"
                                                multiple
                                                v-model="images"
                                        ></v-file-input>
                                    </v-col>
                                </v-row>
                                <v-row v-if="product.img">
                                    <template v-if="product.img && product.img.length">
                                        <v-col v-for="(img, i) in product.img" :key="i"
                                               class="pb-0 pt-0" cols="12" md="12">
                                            <a :href="getImagePath(product.id, img)"
                                               target="_blank">{{getImagePath(product.id, img)}}</a>
                                        </v-col>
                                    </template>
                                </v-row>
                                <div class="d-flex align-center mt-4">
                                    <p class="title mb-0 mr-2">Цвета</p>
                                    <v-btn color="success"
                                           small @click="addColor"><v-icon>plus_one</v-icon></v-btn>
                                </div>
                                <v-row v-for="(color, i) in product.colors"
                                       :key="i" class="colors-box align-center mt-4">
                                    <v-col cols="12" md="2">
                                        <v-select
                                                v-model="color.type"
                                                :items="colorTypes"
                                                item-text="name"
                                                item-value="code"
                                                label="Тип"
                                                :disabled="!!(color.code || color.path)"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="12" md="4">
                                        <v-text-field
                                                v-model="color.name"
                                                label="Название цвета"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="2"
                                           v-if="color.type === 'color'">
                                        <v-text-field
                                                @click="showColorPicker(color)"
                                                v-model="color.code"
                                                label="Код цвета"
                                        ></v-text-field>
                                    </v-col>
                                    <div v-if="color.type === 'color' && color.code !== ''"
                                         class="color-square"
                                         :style="{ background: color.code}"></div>
                                    <v-col cols="12" md="3"
                                           v-if="color.type === 'img'">
                                        <v-file-input
                                                label="Картинка цвета"
                                                @change="changeColorImg($event, color)"
                                        ></v-file-input>
                                    </v-col>
                                    <v-img v-if="color.type === 'img' && color.path"
                                           :src="getColorImgPath(product.id, color.path)"
                                           max-width="70" alt="" class="mb-4"></v-img>
                                    <v-col cols="12" md="2">
                                        <v-btn color="error"
                                               small
                                               @click="removeColor(i)">Удалить
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <v-btn :disabled="!valid"
                                   color="info"
                                   class="ml-2 mb-2 mt-3"
                                   @click="submit">Отправить
                            </v-btn>
                        </v-form>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-card>
        <v-dialog v-model="colorPickerDialog.state"
                  v-if="colorPickerDialog.state">
            <v-card>
                <v-card-text>
                    <v-content>
                        <v-row>
                            <p class="title">Выбрать цвет</p>
                        </v-row>
                        <v-row>
                            <v-color-picker class="ma-2"
                                            show-swatches
                                            mode="hexa"
                                            @update:color="(code) => {colorPickerDialog.selectedColor = code.hex}"
                            ></v-color-picker>
                        </v-row>
                    </v-content>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn small color="primary"
                           @click="setColorCodeToItem">Добавить</v-btn>
                    <v-btn small color="primary"
                           @click="colorPickerDialog.state = false">Закрыть</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
  import EAddEdit from "../../../components/common/EAddEdit";
  import {mapGetters, mapActions} from "vuex";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";
  import NotifyMixin from "../../../components/mixins/NotifyMixin";
  import CommonMixin from "../../../components/mixins/CommonMixin";

  export default {
    name: "Product",
    components: {
      EAddEdit
    },
    mixins: [AddEditMixin, NotifyMixin, CommonMixin],
    data() {
      return {
        valid: false,
        colorPickerDialog: {
          state: false,
          activeColor: null,
          selectedColor: null
        },
        tabs: [
          { link: 'home', title: 'Товары' },
        ],
        colorTypes: [{code: "color", name: "Цвет"}, {code: "img", name: "Картинка"}],
        emptyColor: {
          type: null,
          name: '',
          code: null, // Если тип Цвет
          path: null // Если тип Картинка
        },
        images: null,
        product: {
          id: null,
          name: '',
          product_code: '',
          brand: '',
          availability: false,
          wholesale_price: '',
          retail_price: '',
          is_active: false,
          product_category: null,
          short_description: '',
          full_description: '',
          colors: [],
          img: null,
        },
        validate: {
          product_category: [
            v => !!v || 'Поле обязательно',
          ],
          name: [
            v => !!v || 'Поле обязательно',
            v => v.length <= 200 || 'Не более 200 символов',
          ],
          product_code: [
            v => !!v || 'Поле обязательно',
            v => v.length <= 50 || 'Не более 50 символов',
          ],
          brand: [
            v => !!v || 'Поле обязательно',
          ],
          wholesale_price: [
            v => !!v || 'Поле обязательно',
            v => v.length <= 20 || 'Не более 20 символов',
          ],
          retail_price: [
            v => !!v || 'Поле обязательно',
            v => v.length <= 20 || 'Не более 20 символов',
          ],
          short_description: [
            v => !!v || 'Поле обязательно',
            v => v.length <= 200 || 'Не более 200 символов',
          ],
          full_description: [
            v => !!v || 'Поле обязательно',
            v => v.length <= 10000 || 'Не более 10000 символов',
          ],
        }
      }
    },
    mounted() {
      const product = this.getProductById(this.id);
      if (product) {
        this.product = Object.assign(this.product, product);
      }
    },
    computed: {
      ...mapGetters(['getBrands', 'getProductCategories', 'getProductById']),
    },
    methods: {
      ...mapActions(['postProduct', 'putProduct', 'postColorImg', 'deleteColorImg']),
      addColor() {
        console.log(1, this.emptyColor);
        this.product.colors
          .push(Object.assign({}, this.emptyColor))
      },
      removeColor(i) {
        if (this.product.colors.length && this.product.colors[i]) {
          const colors = this.product.colors.splice(i, 1);
          if (colors.length && colors[0].type === 'img') {
            this.deleteColorImg({
              productId: this.product.id,
              path: colors[0].path
            })
          }
          setTimeout(() => { this.submit() }, 100);
        }
      },
      setColorCodeToItem() {
        if (this.colorPickerDialog.activeColor) {
          this.colorPickerDialog.activeColor.code = this.colorPickerDialog.selectedColor;
          this.colorPickerDialog.state = false;
        }
      },
      changeColorImg(img, color) {
        if (img) {
          if (color.path) { // При замене картинки удаляем старую
            this.deleteColorImg({
              productId: this.product.id,
              path: color.path
            })
          }
          setTimeout(() => {
            const form = new FormData();
            form.append('productId', this.product.id);
            form.append(img.name, img);
            this.postColorImg(form).then(() => { color.path = img.name });
          }, 50)
        }
      },
      showColorPicker(color) {
        this.colorPickerDialog.state = true;
        this.colorPickerDialog.activeColor = color;
      },
      submit() {
        if (this.$refs.form.validate()) {
          const form = new FormData();
          if (this.images) {
            const images = [];
            for (let i = 0; i < this.images.length; i++) {
              const name = this.images[i].name;
              images.push(name);
              form.append(name, this.images[i])
            }
            this.product.img = images;
          }
          Object.keys(this.product).forEach(v => {
            let value = this.product[v];
            if (v === 'product_category' || v === 'img' || v === 'colors') {
              value = JSON.stringify(value)
            }
            if (value !== null)
              form.append(v, value);
          });
          if (!this.id) {                           // Создать
            this.postProduct(form).then(() => {
              this.successCreate('Товар');
              this.$router.push({ name: 'eTable', params: { name: 'products' } });
            }, () => { this.errorSave() });
          } else {                                  // Обновить
            this.putProduct(form).then(() => {
              this.successSave('Товар');
            }, () => { this.errorSave() });
          }
        }
      }
    },
    watch: {
      $route () {
        this.getId();
      },
    },
  }
</script>

<style lang="scss" scoped>
    .colors-box {
        border: 1px solid #b3d4fc;
    }
    .color-square {
        width: 70px;
        height: 40px;
        margin-bottom: 10px;
    }
</style>
