<template>
    <div>
        <v-toolbar-title>Редактирование информации сайта</v-toolbar-title>
        <v-card flat>
            <v-tabs v-model="currentTab">
                <v-tab v-for="(tab, i) of tabs"
                       :key="i" :href="`#${tab.link}`">{{tab.title}}
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="currentTab">
                <v-tab-item value="home">
                    <v-card flat>
                        <v-form ref="form"
                                v-model="valid"
                                lazy-validation>
                            <v-container class="pb-0">
                                <v-row>
                                    <v-col cols="12" md="4">
                                        <v-text-field
                                                v-model="getSiteInfo.phone.top_nav"
                                                label="Телефон панели навигации"
                                                v-mask="phoneMask"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <v-btn :disabled="!valid"
                                   color="info"
                                   class="ml-2 mb-2"
                                   @click="submit">Отправить
                            </v-btn>
                        </v-form>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-card>
    </div>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";
  import NotifyMixin from "../../../components/mixins/NotifyMixin";
  import {phoneMask} from "../../../functions/common";
  // import site_info_empty from "../../../models/SiteInfoModel";

  export default {
    name: "SiteInfo",
    components: {

    },
    mixins: [AddEditMixin, NotifyMixin],
    data() {
      return {
        valid: true,
        tabs: [
          { link: 'home', title: 'Информация' },
        ],
        phoneMask: phoneMask(),
      }
    },
    created() {
      this.fetchSiteInfo();
    },
    mounted() {

    },
    computed: {
      ...mapGetters(['getSiteInfo']),
    },
    methods: {
      ...mapActions(['fetchSiteInfo', 'siteInfoSave']),
      submit() {
        if (this.$refs.form.validate()) {
          this.siteInfoSave(this.getSiteInfo).then(() => {
            this.successSave('Инфо');
          }, () => { this.errorSave() });
        }
      }
    },
    watch: {

    },
  }
</script>

<style lang="scss" scoped>

</style>
