<template>
    <div>
        <EAddEdit :title="isEditPage() ? 'Редактирование пользователя' : 'Создание пользователя'" />
        <v-card flat>
            <v-tabs v-if="isEditPage()"
                    v-model="currentTab">
                <v-tab v-for="(tab, i) of tabs"
                       :key="i" :href="`#${tab.link}`">{{tab.title}}
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="currentTab">
                <v-tab-item value="home">
                    <v-container>
                        <v-card flat>
                            <v-col cols="12" sm="6" class="pt-0 pb-0">
                                <v-text-field
                                        :value="user.email"
                                        label="E-mail"
                                        disabled
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pt-0 pb-0">
                                <v-text-field
                                        :value="user.firstName"
                                        label="Имя"
                                        disabled
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pt-0 pb-0">
                                <v-text-field
                                        :value="user.lastName"
                                        label="Фамилия"
                                        disabled
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pt-0 pb-0">
                                <v-text-field
                                        :value="user.isActive ? 'Да' : 'Нет'"
                                        label="Активный"
                                        disabled
                                ></v-text-field>
                            </v-col>
                        </v-card>
                    </v-container>
                </v-tab-item>
                <v-tab-item value="profile">
                    <v-card flat>
                        <v-form ref="form"
                                v-model="valid"
                                lazy-validation>
                            <v-container class="pb-0">
                                <v-row>
                                    <v-col cols="12" md="4">
                                        <v-text-field
                                                v-model="user.email"
                                                :rules="validate.email"
                                                :counter="50"
                                                label="E-mail"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="4">
                                        <v-text-field
                                                v-model="user.firstName"
                                                :rules="validate.firstName"
                                                :counter="50"
                                                label="Имя"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="4">
                                        <v-text-field
                                                v-model="user.lastName"
                                                :rules="validate.lastName"
                                                :counter="50"
                                                label="Фамилия"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="pb-0 pt-0" cols="12" md="4">
                                        <v-checkbox color="blue darken-3"
                                                    v-model="user.isActive"
                                                    label="Активный"
                                        ></v-checkbox>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <v-btn :disabled="!valid"
                                   color="info"
                                   class="ml-2 mb-2"
                                   @click="submit">Отправить
                            </v-btn>
                        </v-form>
                    </v-card>
                </v-tab-item>
                <v-tab-item value="groups">
                    <v-card class="pl-3" flat>
                        <v-checkbox v-for="(group, i) in userGroups"
                                    color="blue darken-3"
                                    :key="i" v-model="group.isChecked"
                                    :label="group.name"
                                    @click="userGroupSaveMethod(group)"
                                    class="group-permissions mt-0"
                        ></v-checkbox>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-card>
    </div>
</template>

<script>
  import EAddEdit from "../../../components/common/EAddEdit";
  import {mapGetters, mapActions} from "vuex";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";
  import NotifyMixin from "../../../components/mixins/NotifyMixin";
  import {getEmptyObjectByModel} from "../../../functions/common";
  import {UserModel} from "../../../models/UserModel";

  export default {
    name: "User",
    components: {
      EAddEdit
    },
    mixins: [AddEditMixin, NotifyMixin],
    data() {
      return {
        valid: false,
        currentTab: 'profile',
        tabs: [
          { link: 'home', title: 'Общая информация' },
          { link: 'profile', title: 'Личные данные' },
          { link: 'groups', title: 'Группы' },
        ],
        user: {
          id: null
        },
        userGroups: [],
        validate: {
          email: [
            v => !!v || 'Поле обязательно',
            v => v.length <= 50 || 'Не более 50 символов',
            v => /.+@.+/.test(v) || 'Некорректный E-mail',
          ],
          firstName: [
            v => v.length <= 50 || 'Не более 50 символов',
          ],
          lastName: [
            v => v.length <= 50 || 'Не более 50 символов',
          ],
        }
      }
    },
    created() {
      this.user = getEmptyObjectByModel(new UserModel());
    },
    mounted() {
      const user = this.getUserById(this.id);
      if (user) {
        this.user = Object.assign(this.user, user);
      }
    },
    computed: {
      ...mapGetters(['getUserById']),
    },
    methods: {
      ...mapGetters(['getUserGroups']),
      ...mapActions(['userSave', 'userGroupSave']),
      userGroupSaveMethod(group) {
        this.userGroupSave({
          userId: this.id,
          groupId: group.id,
          isChecked: group.isChecked
        }).then(() => {
          this.successSave('Группа пользователя');
        }, () => { this.errorSave() });
      },
      submit() {
        if (this.$refs.form.validate()) {
          this.userSave(this.user).then(data => {
            if (!this.id) {
              this.successCreate('Пользователь');
              this.$router.push({ name: 'eTable', params: { name: 'users' } });
              setTimeout(() => {
                alert('Запишите ваш пароль: ' + data.pwd)
              }, 200)
            } else {
              this.successSave('Пользователь');
            }
          }, () => { this.errorSave() });
        }
      }
    },
    watch: {
      $route () {
        this.getId();
      },
      currentTab () {
        if (this.currentTab === 'groups') {
          this.userGroups = this.getUserGroups()(this.id);
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
