<template>
    <div class="customer-container">
        <v-content>
            <router-view/>
        </v-content>
    </div>
</template>

<script>
  export default {
    name: "CustomerContent"
  }
</script>

<style scoped>

</style>
