<template>
    <v-footer color="blue darken-3">
        <span class="white--text">&copy; 2020</span>
    </v-footer>
</template>

<script>
    export default {
      name: "Footer",
      data() {
        return {

        }
      },
    }
</script>

<style lang="scss" scoped>

</style>
