<template>
    <v-app-bar color="blue darken-3" dark>
        <v-img src="@/assets/img/logo.png"
               @click="home"
               class="customer-logo"
               max-height="50" max-width="150"
               contain></v-img>
        <v-menu :nudge-width="200"
                :offset-y="true"
                open-on-hover
                v-for="(nav_menu, i) in getNavMenuList"
                :key="i" bottom>
            <template v-slot:activator="{ on }">
                <v-toolbar-title v-on="on"
                                 class="top-nav-title"
                >{{nav_menu.name}}</v-toolbar-title>
            </template>
            <v-list>
                <v-list-item v-for="(category, i) in nav_menu.nav_menu_categories"
                             :key="i"
                             class="nav-list-item"
                             @click="toCategory(nav_menu, category.id)">
                    <v-list-item-title>{{ category.name }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
        <v-spacer></v-spacer>
        <v-btn text small>
            <v-icon small
                    class="mr-1"
            >mdi-cart</v-icon> Корзина<v-btn class="ml-1 cart-counts"
                                             fab x-small
                                             color="white">{{getOrderProductsInfoCounts}}</v-btn>
        </v-btn>
<!--        <v-toolbar-title class="top-nav-title-right body-1"-->
<!--        >{{getSiteInfo.phone.top_nav}}</v-toolbar-title>-->
    </v-app-bar>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import CustomerMixin from "../../../components/mixins/CustomerMixin";

    export default {
      name: "TopNav",
      mixins: [CustomerMixin],
      data() {
        return {

        }
      },
      created() {
        this.fetchOrderProductsInfo();
      },
      computed: {
        ...mapGetters(['getNavMenuList', 'getSiteInfo', 'getOrderProductsInfoCounts']),
      },
      methods: {
        ...mapActions(['fetchOrderProductsInfo']),
        home() {
          if (this.$route.name !== 'customerHome')
            this.$router.push({name: 'customerHome'})
        },
      },
      watch: {

      },
    }
</script>

<style lang="scss" scoped>
    .cart-counts {
        height: 20px;
        width: 20px;
        font-size: 12px;
        color: #0c3140;
    }
    .top-nav-title {
        font-size: 18px;
    }
</style>
