<template>
    <div>
        <ETable :thead="thead"
                :tbody="getBrands.map(brand => {
          return { key: brand.id, values: [brand.name, brand.is_active] }
        })" />
    </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import ETable from "../../../components/tables/ETable";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";

  export default {
    name: "Brands",
    mixins: [AddEditMixin],
    components: {
      ETable
    },
    data() {
      return {
        thead: ['Имя', 'Показывать']
      }
    },
    created() {
      this.fetchBrands()
    },
    computed: {
      ...mapGetters(['getBrands']),
    },
    methods: {
      ...mapActions(['fetchBrands']),
    },
  }
</script>

<style scoped>

</style>
