<template>
    <div>
        <component :is="component" />
    </div>
</template>

<script>
  import Groups from "./Groups";
  import Users from "./Users";
  import ProductCategories from "./ProductCategories";
  import NavMenuCategories from "./NavMenuCategories";
  import Products from "./Products";
  import NavMenus from "./NavMenus";
  import Brands from "./Brands";

  export default {
    name: "DynamicETable",
    components: {
      Groups,
      Users,
      ProductCategories,
      NavMenuCategories,
      Products,
      NavMenus,
      Brands,
    },
    data () {
      return {
        pages: {
          groups: "Groups",
          users: "Users",
          productcategories: "ProductCategories",
          navmenus: "NavMenus",
          navmenucategories: "NavMenuCategories",
          brands: "Brands",
          products: "Products",
        },
        component: '',
      }
    },
    mounted() {
      this.getComponent();
    },
    methods: {
      getComponent() {
        const name = this.$route.params['name'];
        this.component = this.pages[name] ? this.pages[name] : "Groups";
      },
    },
    watch: {
      $route () {
        this.getComponent();
      }
    },
  }
</script>

<style scoped>

</style>
