<template>
    <div>
        <ETable :thead="thead"
                :tbody="getGroups.map(group => {
          return { key: group.id, values: [group.name] }
        })" />
    </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import ETable from "../../../components/tables/ETable";

  export default {
    name: "Groups",
    components: {
      ETable
    },
    data() {
      return {
        thead: ['Название группы']
      }
    },
    created() {
      this.fetchGroups()
    },
    computed: {
      ...mapGetters(['getGroups']),
    },
    methods: {
      ...mapActions(['fetchGroups']),
    },
  }
</script>

<style scoped>

</style>
