<template>
    <div>
        <ETable :thead="thead"
                :tbody="getNavMenuList.map(navMenu => {
          return { key: navMenu.id, values: [navMenu.name,
          navMenu.level_order.toString(), navMenu.is_active] }
        })" />
    </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import ETable from "../../../components/tables/ETable";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";

  export default {
    name: "NavMenus",
    mixins: [AddEditMixin],
    components: {
      ETable
    },
    data() {
      return {
        thead: ['Имя', 'Порядок', 'Показывать']
      }
    },
    created() {
      this.fetchNavMenuList()
    },
    computed: {
      ...mapGetters(['getNavMenuList']),
    },
    methods: {
      ...mapActions(['fetchNavMenuList']),
    },
  }
</script>

<style scoped>

</style>
