<template>
    <div>
        <ETable :thead="thead"
                :tbody="getProductCategories.map(category => {
          return { key: category.id, values: [
            category.name,
            category.nav_menu_category_obj ? category.nav_menu_category_obj.name : '',
            category.is_active
            ] }
        })" />
    </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import ETable from "../../../components/tables/ETable";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";

  export default {
    name: "ProductCategories",
    mixins: [AddEditMixin],
    components: {
      ETable
    },
    data() {
      return {
        thead: ['Имя', 'Категория меню', 'Показывать']
      }
    },
    created() {
      this.fetchProductCategories()
    },
    computed: {
      ...mapGetters(['getProductCategories']),
    },
    methods: {
      ...mapActions(['fetchProductCategories']),
    },
  }
</script>

<style scoped>

</style>
