<template>
    <div>
        <ETable :thead="thead"
                :tbody="getProducts.map(product => {
          return { key: product.id, values: [product.name, product.product_code, product.availability,
          product.wholesale_price, product.retail_price, product.is_active] }
        })" />
    </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import ETable from "../../../components/tables/ETable";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";

  export default {
    name: "Products",
    mixins: [AddEditMixin],
    components: {
      ETable
    },
    data() {
      return {
        thead: ['Имя', 'Артикул', 'Наличие', 'Оптовая цена', 'Розничная цена', 'Показывать']
      }
    },
    created() {
      this.fetchProducts()
    },
    computed: {
      ...mapGetters(['getProducts']),
    },
    methods: {
      ...mapActions(['fetchProducts']),
    },
  }
</script>

<style scoped>

</style>
