<template>
    <div>
        <ETable :thead="thead"
                :tbody="getUsers.map(user => {
          return { key: user.id, values: [user.email, user.firstName,
            user.lastName, user.isStaff, user.isActive, getDateTimeStr(user.lastLogin)] }
        })" />
    </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import ETable from "../../../components/tables/ETable";
  import AddEditMixin from "../../../components/mixins/AddEditMixin";

  export default {
    name: "Users",
    mixins: [AddEditMixin],
    components: {
      ETable
    },
    data() {
      return {
        thead: ['Email', 'Имя', 'Фамилия', 'Управление', 'Активен', 'Последний вход']
      }
    },
    created() {
      this.fetchUsers()
    },
    computed: {
      ...mapGetters(['getUsers']),
    },
    methods: {
      ...mapActions(['fetchUsers']),
    },
  }
</script>

<style scoped>

</style>
