@import "../common/colors";
@import "../common/common";
@import "../common/displays";
@import "../mixins/common";

.customer {
  &-container {
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 64px);
    @media (max-width: $tabletAverage) {
      height: calc(100vh - 56px);
    }
  }
  &-logo {
    cursor: pointer;
  }
  &-products {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 64px);
    @media (max-width: $tabletAverage) {
      height: calc(100vh - 56px);
    }
    .c-product {
      &-link {
        cursor: pointer;
      }
      &-title {

      }
      &-short-d {
        height: 130px;
      }
      &-info {
        display: flex;
        justify-content: flex-start;
      }
      &-box {
        height: calc(100vh - 64px);
        @media (max-width: $tabletAverage) {
          height: calc(100vh - 56px);
        }
        @include scrollbarForTextarea();
        overflow-y: auto;
        width: 80%;
        justify-content: center;
        padding: 20px;
        //margin-right: 0;
        //margin-left: 0;
      }
      &-item {
        margin: 0 15px 15px 0;
      }
      &-v-checkbox {
        .theme--light.v-label, .theme--light.v-icon {
          color: rgba(0, 0, 0, 0.87) !important;
        }
      }
    }
  }
}
.color-border {
  border: 2px solid #000;
}
.c-left-nav {
  width: 250px;
}
.v-menu__content, .v-list {
  border-radius: 0;
}
.v-list-item {
  &.nav-list-item {
    &:hover {
      background-color: rgba(21, 101, 192, 0.21);
    }
  }
}
.filter {
  display: flex;
  flex-direction: column;
  &-checkbox {
    margin: 0 0 0 10px;
  }
}
.v-icon.v-icon {
  &:hover {
    background-color: rgba(92, 92, 92, 0.21);
  }
}

.black-title {
  color: black;
}
