@import "../common/colors";
@import "../common/common";
@import "../common/displays";
@import "../mixins/common";

.emarket-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 64px);
  .e-work-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 254.8px);
    .e-work-area {
      padding: 10px;
      height: 100%;
      overflow-y: auto;
      @include scrollbarForTextarea();
    }
  }
}
.emarket-left-sidebar {
  width: 250px;
  height: 100%;
  .list-group {
    .list-group-item {
      &:hover {
        background-color: $color-base-light-hover !important;
        cursor: pointer;
      }
      &.item-active {
        background-color: $color-bg-dark !important;
      }
    }
  }
}
.table {
  background-color: #f0f4f6;
  &.table-bordered td, &.table-bordered th {
    border: 2px solid #ffffff !important; // $color-bg-dark 1px
  }
  thead {
    tr {
      background-color: $color-button-bg;
      th {
        border-bottom: 2px solid #ffffff !important; // $color-bg-dark
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: $color-base-light-hover;
        cursor: pointer;
      }
      &:active {
        background-color: $color-table-row;
      }
      td {

      }
    }
  }
}
.v-scroll-vert {
  overflow-y: auto;
  height: calc(100vh - 64px - 45px);
  padding-bottom: 10px;
  @media (max-width: $tabletAverage) {
    height: calc(100vh - 56px - 45px);
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-button { // кнопки края
    background: #505050;
    height: 5px;
  }
  &::-webkit-scrollbar-track-piece { // Фон
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb { // Динамический скролл
    background: #c1c2c1;
  }
}
