<template>
    <div>
        <v-carousel cycle
                    height="400"
                    interval="5000"
                    show-arrows-on-hover
                    hide-delimiter-background>
            <v-carousel-item v-for="(slide, i) in slides"
                             :key="i">
                <v-sheet :color="colors[i]"
                         tile
                         height="100%">
                    <v-row class="fill-height"
                           align="center"
                           justify="center">
                        <div class="display-3">{{ slide }} Slide</div>
                    </v-row>
                </v-sheet>
            </v-carousel-item>
        </v-carousel>
    </div>
</template>

<script>
  export default {
    name: "Home",
    data () {
      return {
        colors: [
          'indigo',
          'warning',
          'pink darken-2',
          'red lighten-1',
          'deep-purple accent-4',
        ],
        slides: [
          'First',
          'Second',
          'Third',
          'Fourth',
          'Fifth',
        ],
      }
    },
  }
</script>

<style scoped>

</style>
