<template>
    <div class="customer-products">
        <v-navigation-drawer v-model="drawer"
                             clipped
                             permanent>
            <v-card flat>
                <v-list>
                    <template v-if="selectedNavMenu">
                        <v-subheader class="text-uppercase">{{selectedNavMenu.name}}</v-subheader>
                        <v-list-group
                                sub-group
                                no-action>
                            <template v-slot:activator>
                                <v-list-item-content>
                                    <v-list-item-title>Actions</v-list-item-title>
                                </v-list-item-content>
                            </template>
                            <v-list-item
                                    v-for="(category, i) in selectedNavMenu.nav_menu_categories"
                                    :key="i" dense
                                    :class="categoryIsActive(category.id) ? 'v-list-item--active' : ''"
                                    @click="toCategory(selectedNavMenu, category.id)">
                                <v-list-item-title lass="c-p-list-item-title"
                                                   v-text="category.name"></v-list-item-title>
<!--                                <v-list-item-action>-->
<!--                                    <v-icon v-text="crud[1]"></v-icon>-->
<!--                                </v-list-item-action>-->
                            </v-list-item>
                        </v-list-group>
                    </template>
                    <template v-if="selectedNavMenu">
                        <v-subheader class="text-uppercase">{{selectedNavMenu.name}}</v-subheader>
                        <v-list-item-group color="primary">
                            <v-list-item
                                    v-for="(category, i) in selectedNavMenu.nav_menu_categories"
                                    :key="i" dense
                                    :class="categoryIsActive(category.id) ? 'v-list-item--active' : ''"
                                    @click="toCategory(selectedNavMenu, category.id)">
<!--                                <v-list-item-icon>-->
<!--                                    <v-icon v-text="item.icon"></v-icon>-->
<!--                                </v-list-item-icon>-->
                                <v-list-item-content>
                                    <v-list-item-title class="c-p-list-item-title"
                                                       v-text="category.name"></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </template>
                    <template>
                        <v-subheader class="text-uppercase">Бренд</v-subheader>
                        <v-list-item-group color="primary">
                            <div class="filter c-product-v-checkbox">
                                <v-checkbox
                                        v-for="(brand, i) in getBrands"
                                        :key="i"
                                        v-model="query.brandsFilter"
                                        :label="brand.name"
                                        :value="brand.id"
                                        class="filter-checkbox"
                                        :hide-details="true"
                                        @click="setFilters"
                                ></v-checkbox>
                            </div>
                        </v-list-item-group>
                    </template>
                </v-list>
            </v-card>
        </v-navigation-drawer>
        <v-row class="d-flex c-product-box">
            <div v-for="(product, i) in getProducts"
                 :key="i" class="c-product-item">
                <v-card width="250" class="pt-2">
                    <v-img height="250px"
                           class="c-product-link"
                           @click="toProduct(product)"
                           :src="getFirstImagePath(product.id, product.img)">
                    </v-img>
                    <div class="c-product-short-d v-scroll-vert mt-2">
                        <v-card-title class="c-product-link subtitle-1 font-weight-bold pt-0"
                                      @click="toProduct(product)"
                        >{{product.name}}</v-card-title>
                        <v-card-subtitle>{{product.short_description}}</v-card-subtitle>
                    </div>
                    <v-card-actions class="justify-space-between">
                        <v-btn color="info" @click="toProduct(product)">В корзину</v-btn>
                        <p class="title black-title mb-0">{{product.retail_price}} &#8381;</p>
                    </v-card-actions>
                </v-card>
            </div>
        </v-row>
        <v-dialog v-model="productDialog"
                  v-if="productDialog">
            <v-card>
                <v-card-text>
                    <div style="display: flex;">
                        <v-sheet width="300" height="300"
                                 class="mr-8 mb-4 mt-2">
                            <v-carousel cycle interval="7000"
                                        progress
                                        height="300"
                                        class="ml-2 mt-2"
                                        hide-delimiters
                                        show-arrows-on-hover>
                                <template v-if="selectedProduct.img && selectedProduct.img.length">
                                    <v-carousel-item v-for="(slide, i) in selectedProduct.img"
                                                     :key="i"
                                                     :src="getImagePath(selectedProduct.id, slide)">
                                    </v-carousel-item>
                                </template>
                                <v-carousel-item v-else
                                                 :src="getNoImagePath()">
                                </v-carousel-item>
                            </v-carousel>
                        </v-sheet>
                        <v-row class="flex-column">
                            <v-card-title class="title black-title pt-2"
                            >{{selectedProduct.name}}</v-card-title>
                            <v-card-subtitle class="pb-0"
                            >{{selectedProduct.full_description}}</v-card-subtitle>
                            <v-card-subtitle class="title pt-0 pb-0"
                            ><span>Актикул: </span>{{selectedProduct.product_code}}</v-card-subtitle>
                            <v-card-subtitle v-if="isColors" class="title pt-0 pb-0"
                            >Цвета:</v-card-subtitle>
                            <v-item-group v-if="isColors"
                                          class="ml-4">
                                <v-container class="pt-0">
                                    <v-row class="color-img-box">
                                        <v-item v-slot:default="{ active, toggle }"
                                                v-for="(color, i) in selectedProduct.colors"
                                                :key="i" class="mr-2">
                                            <v-card :color="(color.type === 'color') ? color.code : ''"
                                                    :class="{ 'v-item--active': active }"
                                                    class="d-flex align-center"
                                                    dark height="50" width="50"
                                                    @click="() => setImgColor(toggle, i, !active)">
                                                <v-img v-if="color.type === 'img' && color.path"
                                                       :src="getColorImgPath(selectedProduct.id, color.path)"
                                                       width="50" :height="active ? '46' : '50'" alt="">
                                                    <v-btn icon dark v-if="active"
                                                           class="ml-1"
                                                           style="margin-top: 5px">
                                                        <v-icon>mdi-check</v-icon>
                                                    </v-btn>
                                                </v-img>
                                                <v-btn icon dark
                                                       class="ml-1"
                                                       v-if="(color.type === 'color') && active">
                                                    <v-icon>mdi-check</v-icon>
                                                </v-btn>
                                            </v-card>
                                        </v-item>
                                    </v-row>
                                </v-container>
                            </v-item-group>
                            <div class="d-flex align-end pl-4 cost-box">
                                <p class="subtitle-1 mr-2">Стоимость</p>
                                <p class="title black-title">{{selectedProduct.retail_price}} &#8381;</p>
                            </div>
                            <div v-if="isColors" class="d-flex align-end pl-4 cost-box">
                                <p class="subtitle-1 mr-2">Выбрано:</p>
                                <p class="title black-title">{{selectedColorName}}</p>
                            </div>
                            <v-btn color="info" class="ml-4 mt-2"
                                   width="150"
                                   @click="addToCart">В корзину</v-btn>
                        </v-row>
                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text
                           @click="productDialog = false">Закрыть</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
  import {mapGetters, mapActions} from "vuex";
  import CommonMixin from "../../../components/mixins/CommonMixin";
  import CustomerMixin from "../../../components/mixins/CustomerMixin";

  export default
  {
    name: "Products",
    mixins: [CommonMixin, CustomerMixin],
    data() {
      return {
        firstLoad: true,
        multiple: false,
        mandatory: false,
        showArrows: true,
        centerActive: false,
        drawer: true,
        productDialog: false,
        query: {
          navMenuCategoryId: 0,
          brandsFilter: [],
        },
        selectedProduct: {

        },
        orderInfo: {
          colorIndex: null
        }
      }
    },
    created() {
      this.fetchProducts();
    },
    mounted() {

    },
    computed: {
      ...mapGetters(['getBrands', 'getProducts', 'getProductFilters']),
      isColors() { // Есть ли у товара цвета?
        return this.selectedProduct.colors && this.selectedProduct.colors.length;
      },
      selectedColorName() {
        if (this.isColors && (this.orderInfo.colorIndex !== null) &&
          this.selectedProduct.colors[this.orderInfo.colorIndex]) {
          return this.selectedProduct.colors[this.orderInfo.colorIndex].name;
        }
        return '';
      },
      selectedNavMenu() {
        return this.getProductFilters.selectedNavMenu;
      },
    },
    methods: {
      ...mapActions(['fetchProductsByQuery', 'addProductToOrder']),
      categoryIsActive(categoryId) {
        return parseInt(this.id) === categoryId;
      },
      setFilters() {
        this.fetchProductsByQuery(this.query)
      },
      toProduct(item) {
        // localStorage.removeItem('order.productsInfo');
        this.orderInfo.colorIndex = null;
        this.selectedProduct = item;
        this.productDialog = true;
      },
      setImgColor(toggle, index, isActive) {
        toggle();
        setTimeout(() => {
          this.orderInfo.colorIndex = isActive ? index : null;
        }, 30);
      },
      addToCart() {
        const colorIndex = this.orderInfo.colorIndex;
        if (this.isColors && (colorIndex === null)) {
          this.$notify({
            group: 'bottom-info',
            title: 'Внимание',
            text: 'Необходимо выбрать цвет',
            type: 'warning',
          });
          return;
        }
        this.addProductToOrder({
          productId: this.selectedProduct.id,
          colorIndex: this.orderInfo.colorIndex
        });
        setTimeout(() => {
          this.productDialog = false;
          this.$notify({
            group: 'bottom-info',
            title: 'Добавление в корзину.',
            text: `${this.selectedProduct.name} добавлен в корзину`,
            type: 'success',
          });
        }, 100);
      },
      fetchProducts() {
        const id = this.$route.params['id'];
        if (id) {
          this.query.navMenuCategoryId = parseInt(id);
          this.fetchProductsByQuery(this.query);
        }
      }
    },
    watch: {
      $route () {
        this.fetchProducts();
        this.getId();
      },
    },
  }
</script>

<style scoped lang="scss">
    .color-img-box {
        .v-item--active {
            border: 2px solid #000 !important;
        }
    }
    .cost-box {
        height: 32px;
    }
    .c-p-list-item-title {
        font-size: 17px;
    }
    .v-subheader {
        height: 32px;
    }

</style>
