<template>
  <div>
    <TopNav />
    <CustomerContent />
    <Footer />
  </div>
</template>

<script>
import TopNav from "./parts/TopNav";
import CustomerContent from "./parts/CustomerContent";
import Footer from "./parts/Footer";
import {mapActions} from "vuex";
import CustomerMixin from "../../components/mixins/CustomerMixin";

export default {
  name: 'CustomerMain',
  mixins: [CustomerMixin],
  components: {
    TopNav,
    CustomerContent,
    Footer,
  },
  data() {
    return {

    }
  },
  created() {
    this.fetchCustomerInit().then(() => {
      const id = this.$route.params['id'];
      if (id) {
        const selectedNavMenu = this.getNavMenuByCategoryId(parseInt(id));
        if (selectedNavMenu) {
          this.setNavMenu(selectedNavMenu);
        }
      }
    });
  },
  mounted() {

  },
  computed: {

  },
  methods: {
    ...mapActions(['fetchCustomerInit']),
  },

}
</script>
