<template>
    <v-navigation-drawer :value="getLeftSidebarDrawer"
                         absolute
                         bottom
                         temporary
                         @input="checkDrawer"
    >
        <v-list dense
                nav>
            <v-list-item
                    v-for="item in listItems"
                    :key="item.title"
                    :to="item.to"
                    link>
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title style="font-size: 17px;"
                    >{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";

  export default {
    name: "LeftSidebar",
    data() {
      return {
        currentLink: '',
        listItems: [
          {
            title: "Группы",
            to: {name: 'eTable', params: {name: 'groups'}},
            icon: 'group'
          },
          {
            title: "Пользователи",
            to: {name: 'eTable', params: {name: 'users'}},
            icon: 'person'
          },
          {
            title: "Бренды",
            to: {name: 'eTable', params: {name: 'brands'}},
            icon: 'album'
          },
          {
            title: "Меню нав. панели",
            to: {name: 'eTable', params: {name: 'navmenus'}},
            icon: 'menu'
          },
          {
            title: "Категории меню",
            to: {name: 'eTable', params: {name: 'navmenucategories'}},
            icon: 'menu'
          },
          {
            title: "Категории товаров",
            to: {name: 'eTable', params: {name: 'productcategories'}},
            icon: 'category'
          },
          {
            title: "Товары",
            to: {name: 'eTable', params: {name: 'products'}},
            icon: 'shopping_cart'
          },
          {
            title: "Информация сайта",
            to: {name: 'siteInfo'},
            icon: 'info'
          },
        ]
      }
    },
    computed: {
      ...mapGetters(['getLeftSidebarDrawer']),
    },
    methods: {
      ...mapActions(['setLeftSidebarDrawer']),
      checkDrawer($event) {
        console.log(1, $event);
        if (!$event) {
          this.setLeftSidebarDrawer(false);
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
